// layout vars 
$container-width: 940px;
$footer-height: 50px;

// colors
$gray: #727272;
$black: #414141;
$background: #f6f6f6;
$blue: #32c3e5;
$red: #e85f61;
$white: #ffffff;

// laout
@import "layout/normalize.scss";
@import "layout/settings.scss";
@import "layout/fonts.scss";
@import "layout/font-awesome.scss";
@import "sections/about.scss";
@import "sections/career.scss";
@import "sections/content.scss";
@import "sections/header.scss";
@import "sections/footer.scss";
@import "sections/portfolio.scss";
@import "sections/sidebar.scss";