$root-font-size: 16px;
$size: 18px;
// layout vars 
$container-width: 940px;
$footer-height: 50px;
// colors
$gray: #727272;
$black: #414141;
$liteblack: #646464;
$background: #f6f6f6;
$blue: #32c3e5;
$red: #e85f61;
$white: #ffffff;
$copiright-color: #9c9c9c;
$career-title: #5a5a5a;

// laout
@import "layout/normalize.scss";
@import "layout/settings.scss";
@import "layout/fonts.scss";
@import "layout/font-awesome.scss";
@import "sections/about.scss";
@import "sections/career.scss";
@import "sections/content.scss";
@import "sections/header.scss";
@import "sections/footer.scss";
@import "sections/portfolio.scss";
@import "sections/sidebar.scss";
@import "sections/hello.scss";
@import "media/desktop.scss";
@import "media/laptop.scss";
@import "media/tablets.scss";
@import "media/phones.scss";
@import "animate/animate.scss";


// mixins
@import "helpers/mixins.scss"