
.about-author {
	float: left;
	// width: 296px;
	width: 40%;
	text-align: center;
}

.author {
    overflow: hidden;
	display: inline-block;
    border-radius: 50%;
    border: 5px solid $white;
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.author__photo {
	display: block;
	max-width: 230px;
    max-height: 230px;
}
.about-page {
	// width: 382px;
	width: 55%;
	float: right;
}
.page-title .page-title--about {
	margin-bottom: -7px;
}
.about-page__text {
	height: 317px;
    overflow-y: auto;
	font-weight: 300;
	color: $liteblack; 
    line-height: 1.4; 
}

.author-download {
	margin-top: 75px;
	text-align: right;
}
.btn__title {
	margin-left: 10px;
}


// .author-download {
//     margin-top: 83px;
//     text-align: right;
//     padding: 7px 17px;
//     border: 2px solid #e85f61;
//     border-radius: 30px;
//     width: 200px;
//     float: right;
// }

// .author-download {
// 	margin-top: 83px;
// 	text-align: right;
// 	display: inline-block;
// 	vertical-align: middle;
// }
// .btn__title {
// 	margin-left: 10px;
// }
