
.about-author {
	float: left;
	width: 300px;
	text-align: center;
}

.author {
    overflow: hidden;
	display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 5px solid $white;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.author__photo {
	display: block;
	height: auto;
	max-width: 100%;
}
.about-page {
	width: 380px;
	float: right;
}
.page-title .page-title--about {
	margin-bottom: -7px;
}
.about-page__text {
	height: 300px;
	overflow: auto;
	margin-bottom: 92px;
}
.about-page__text-block {
	font-weight: 300;
	color: $liteblack;
	margin-top: 0;
}

.author-download {
	text-align: right;
}
.author-download__title {
	margin-left: 8px;
}