
.about-author {
	float: left;
	width: 296px;
	text-align: center;
}

.author {
    overflow: hidden;
	display: inline-block;
    border-radius: 50%;
    border: 5px solid $white;
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.author__photo {
	display: block;
	max-width: 230px;
    max-height: 230px;
}
.about-page {
	width: 382px;
	float: right;
}
.page-title .page-title--about {
	margin-bottom: -7px;
}
.about-page__text {
	height: 317px;
    overflow-y: auto;
	font-weight: 300;
	color: $liteblack; 
	margin-bottom: 55px;   
}


.author-download {
	text-align: right;
}
.btn__title {
	margin-left: 10px;
}