.content {
	width: 700px;
    float: right;
    margin-left: 20px;
}

.page-title {
	color: $black;
	font-weight: 500;
	font-size: 35px;
}

.btn {
	text-decoration: none;
	padding: 7px 22px;
	border: 2px solid $red;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
	color: $red;
		&:hover {
		color: $white;
		background: $red;
	}	
}
.btn__icon, .btn__title {
	display: inline-block;
	vertical-align: middle;
}