.page-foot__copiright, .social {
	width: 50%;
	float: left;
}
.page-foot__copyright {
	padding-top: 5px;
}
.page-foot__design {
	font-size: 14px;
	color: $copiright-color;
}

.social {
	text-align: right;
	padding-top: 10px;
}

.social__item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1px;
}
.social__link {
	display: block;
	width: 31px;
	height: 30px;
	background: url(../img/icons/spritesheet.png);
}
.social__link_fb {
	background-position: -5px -5px;
		&:hover {
			background-position: -5px -85px;
	}  
}
.social__link_vk {
	background-position: -5px -207px;
		&:hover {
			background-position: -5px -247px;
	}  
}
.social__link_tw {
	background-position: -5px -45px;
		&:hover {
			background-position: -5px -167px;
	}  
}
		
