.page-head {
	min-height: 79px;
	padding: 10px 0;
  	background: $white;
  	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  	font-size: 18px;
  	font-weight: bold;
  	color: $black;
}
.head-author__about {
	width: 300px;
	float: left;
}
.wrap-author {
	display: inline-block;
	vertical-align: middle;
	width: 63px;
	height: 63px;
  	border-radius: 50%;
  	border: 1px solid $gray;
  	overflow: hidden;
}

.head-author__name {
	margin-left: 20px;
	vertical-align: middle;
	font-weight: normal;
}
.head-author__contacts {
	position: relative;
	width: 160px;
	float: right;
	text-align: right;
	font-weight: bold;
}

.head-author__contacts::before {
	content: "";
	display: block;
    position: absolute;
    left: 40px;
    bottom: 15px;
    width: 122px;
    height: 4px;
    background: url(../img/icons/spritesheet.png);
    background-position: -5px -5px;
}
.head-author__contacts:hover::after {
	content: "";
	display: block;
    position: absolute;
    left: 40px;
    bottom: 15px;
    width: 122px;
    height: 4px;
    background: url(../img/icons/spritesheet.png);
    background-position: -5px -124px;
}

.head-contacts__list {
	display: none;
}
.head-contacts__popup-list {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 20px 0;
	color: $blue;
}
.head-contacts__popup-list:hover{
	color: $red;
}

.author {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	border: 5px solid $white;
    border-radius: 50%;
    overflow: hidden;
}