.page-title .page-title--portfolio {
	margin-bottom: 15px;
}
.potrfolio {
	width: 700px;
}
.work-list {
	margin-left: -20px;
	font-size: 0;
}
.work-list * {
	font-size: 14px;
}

.work-list__item {
  	border-radius: 10px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  	width: 220px;
  	overflow: hidden;
  	display: inline-block;
  	vertical-align: top;
  // margin: 18px 0 0px 20px;
  	margin-left: 20px;
    margin-bottom: 20px;

}
.work-list__link {
	display: block;
	text-decoration: none;
}
.work-list__link:hover .work-list__title {
	color: $red;
}
.work-list__image {
	width: 100%;
    height: 172px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;	
}
.work-list__pic {
	display: none;
	border-style: none;
	// max-width: 100%;
}
.work-description {
	padding: 16px;

}
.work-list__title {
	color: $blue;
	font-size: 21px;
	margin-bottom: -2px;
}

.work-list__desc {
	font-size: 14px;
	color: $black;
	margin-bottom: 10px;
}

.work-list__app_icon, .work-list__app_title {
	display: inline-block;
	vertical-align: middle;
} 
.work-list__app {
	color: #aeaeae;
	font-size: 14px;
	color: #aeaeae;
}
.work-list__app_icon {
	font-size: 18px;
}
.work-list__app_title {
	margin-left: 6px;// не срабатывает как надо
	max-width: 170px;// не срабатывает как надо
}
