@media screen and (max-width: 992px) {
	html {
		font-size: 18px;
	}	
	.container {
		width: 768px;
		padding: 0 20px;
	}
	.popup-contacts {
		left: 35%;
	}
	.page-sidebar {
		float: none;
    	width: 100%;
    	margin-bottom: 24px;
	}
	.page-sidebar__item {
		display: inline-block;
	} 
	.page-sidebar__list {
    	text-align: left;
	}
	.content {
		float: none;
    	width: 100%;
	}
	.about-author {
		width: 35%;
	}
	.author {
    	width: 170px;
    	height: 170px;
	}
	.author__photo {
		max-width: 170px;
    	max-height: 170px;
}
	.about-page {
		width: 65%;
	}
	.page-title {
		margin-bottom: 24px;
	}
// 	.wrap-pic {
//   		width: 228px;
//   		height: 228px;
// }
// 	.career-author__photo {
// 		max-width: 228px;
//     	max-height: 228px;
// }
	.about-page__text {
		margin-bottom: 45px;
}

	.author-download {
		margin-top: 45px;
	}
	//portfolio
	.potrfolio {
    	width: 100%;
	}
}



