@media screen and (max-width: 480px) {
	.container {
		// width: 320px;
		width: 100%;
		padding: 0 10px;
	}	
	.head-author__about {
    	width: 72%;
}

	.head-author__name {
		max-width: 150px;
    	font-size: 14px;
    	width: 56%;
	}
	.page-sidebar {
		margin-bottom: 10px;
	}
	.page-sidebar__list {
		text-align: center;
	}
	.page-sidebar__icon {
		display: none;
	}
	.page-sidebar__link {
    
    margin-right: -25px;
	}
}